

@model List<Team>


@{
    int counter = 0;
}
<div class="container-fluid">
    <div d-flex justify-content-center align-items-between>
        <h1>teams</h1>
        <a asp-action="create" asp-controller="team" class="btn btn-primary">Create</a>
    </div>

    <table class="table">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FullName</th>
                <th scope="col">Profession</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@team.FullName</td>
                    <td>@team.Profession</td>
                    <td style="max-width:100px"><img src="~/uploads/teams/@team.ImageUrl" style="max-width:100px" /></td>
                    <td>
                        <a asp-action="update" asp-controller="team" asp-route-id="@team.Id" class="btn btn-success">Update</a>
                        <a asp-action="delete" asp-controller="team" asp-route-id="@team.Id" class="btn btn-danger">Delete</a>

                    </td>


                </tr>
            }

        </tbody>
    </table>
</div>
